*{
    box-sizing: border-box;
}
/*mobile */
body {
    margin:0;
    padding:0;
    background-color:hsl(257, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
   
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 20px;
    margin-left: 10px;
    display:  block;
}

.logo img {
    width: 50%;

}
.wrapper {
    display: flex;
    margin: 10px 30px;
    flex-direction: column;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
   
  
}

.left-side img {
    width: 100%;
    
}
   


.right-side {
    
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    color: white;
    font-family: Poppins;
}
button {
    

    width: 200px;
    height:50px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-size: 18px;
    margin-top: 10px;

    
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.socials {
    margin-right: 20px;
}
ul {
    
    display: flex;
    font-size:  40px;
    list-style-type: none;
justify-content: center;

   
}
li {
    margin-right: 10px;

}
i {
    color:  white;

}
i:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

/* desktop */

@media screen and (min-width:765px){
    
        body {
            margin:0;
            padding:0;
            background-color:hsl(257, 40%, 49%);
            background-image: url(images/bg-desktop.svg);
           
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .logo {
        width: 155px;
    }
    .left-side {
        display:  flex;
        margin-top: 20px;
        flex: 0.6;
        justify-content: center;
        align-items: center;
        
    }
    .right-side {
        
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        flex: 0.4;
        justify-content: center;
        align-items: center;
        
    }
    .left-side img {
        width: 100%;
    }
    .logo {
        width: 100%;
        
    }
    .logo img {
        width: 20%;
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
}

